HELP.md

# Gradle
.gradle/
build/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs & OS 파일
*.log
.DS_Store
Thumbs.db

# Spring Boot application configs (민감정보)
src/main/resources/application.properties
src/main/resources/application.yml
# 프로필별 설정까지 제외
src/main/resources/application-*.properties
src/main/resources/application-*.yml
